/* src/components/GetInTouchForm.css */
.get-in-touch {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 40px;
    background-color: #f7f7f7;
    animation: slideIn 1s ease forwards; /* Animation for sliding in from left */
  }
  
  @keyframes slideIn {
    from {
      transform: translateX(-100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  .form-container {
    flex: 1;
    padding: 35px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    max-width: 500px;
    width: 100%;
  }
  
  .form-container h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
    text-align: center;
    color: #007bff;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
  }
  
  .form-group input,
  .form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    color: #333;
  }
  
  .form-group input:focus,
  .form-group textarea:focus {
    border-color: #007bff;
    outline: none;
  }
  
  button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button[type="submit"]:hover {
    background-color: #0056b3;
  }
  
  .form-image {
    flex: 1;
    padding: 20px;
    text-align: center;
  }
  
  .form-image h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
    color: #007bff;
  }
  
  .form-image img {
    width: 45%;
    height: auto;
    border-radius: 10px;
  }
  